body{
background-color: antiquewhite;
}
.wrapper{
    position: relative;
    left: 40%;
    margin-top: 15%;
   
    width: 370px;
    height: 370px;
    border-radius: 28px;
    box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 30%);
    background-color: #6d4646;
    color: white;
}
.form{
    padding: 40px 40px 40px 40px;
}