body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    height: 1000px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    align-content: center;
}

a {

    cursor: pointer;
    text-decoration: none;
}

#container {
    z-index: -1;
    position: absolute;
    top: 0px;
    touch-action: none;
}

.central-box {
    margin-top: 100px;
    z-index: 100;
    width: 704px;
    height: 700px;
    outline: 0.1px solid #59afe347;
    backdrop-filter: blur(20px);
    background-color: #00000000;
}

/* .central-box::before {
    content: "Klymchuk Oleh";
    padding: 1px 6px 1px 6px;
    position: relative;
    top: -24.89999999999995px;
    left: 0px;
    color: azure;
    height: 50px;
    width: 100px;
    background-color: #00094d;
    font-family: 'Bebas Neue', sans-serif;


} */

.nav {
    position: relative;
    top: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: calc(70px + env(safe-area-inset-top, 0px));
    box-shadow: 0 1px 1px #59afe347;
    background-color: #110248df;
    backdrop-filter: blur(30px);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

.nav-home {
    padding: 20px 0px 0px 20px;
}

.nav-home a {
    color: aliceblue;
    transition: all .1s ease-in;
}

.nav-home:hover a {
    color: #7da9fae8;
}

.nav-about {
    padding: 20px 0px 0px 0px;

}

.nav-about a {
    padding: 20px 0px 0px 0px;
    color: aliceblue;
    transition: all .1s ease-in;
}

.nav-about:hover a {
    color: #7da9fae8;
}

.nav-more {
    padding: 20px 20px 0px 0px;

}

.nav-more a {
    padding: 20px 20px 0px 0px;
    color: aliceblue;
    transition: all .1s ease-in;
}

.nav-more:hover a {
    color: #7da9fae8;
}

.header-my-work {
    font-family: 'Orbitron', sans-serif;
    color: #ffff;
    position: relative;
    top: 164px;
    display: flex;
    cursor: default;
    justify-content: center;
    font-size: 20px;
}

.my-works {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 186px 0px 0px 0px;

}

svg {
    fill: #ffff;
    transition: all .11s ease-in-out;
    width: 50px;
    height: 50px;

}

.lab svg:hover {
    width: 52px;
    height: 52px;
    fill: #59aee3;
}

.lab {
    display: flex;
    padding: 5px 5px 5px 5px;
    justify-content: center;
}

.lab a {
    text-align: center;
    font-size: 5px;
    color: #ffff;
    font-size: 14px;
    text-decoration: none;
}

.lab-6 svg {
    fill: #59afe347;
}

.lab-6 a {
    text-align: center;
    font-size: 5px;
    color: #59afe347;
    font-size: 14px;
    text-decoration: none;

}


.lab-6 {
    display: flex;
    padding: 5px 5px 5px 5px;
    justify-content: center;
}






/* page-about */
.wrapper {
   
    position: relative;
    top: 215px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 20px;
    font-weight: 600;


}

.name {
    padding: 0px 0px 24px 0px;
    background: linear-gradient(45deg, #fcfeff,  #1c03db);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: bold;
    background-size: 300% 300%;
    animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.group {
    padding: 0px 0px 24px 0px;
    background: linear-gradient(45deg, #fcfeff, #06a2f0,  #1c03db);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: bold;
    background-size: 300% 300%;
    animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
    


.edu {
    padding: 0px 0px 24px 0px;
    background: linear-gradient(45deg, #88c3f6, #34047b,  #6e5ee7);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: bold;
    background-size: 300% 300%;
    animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
   


